aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.0
asgiref==3.5.0
astor==0.8.1
async-timeout==4.0.2
attrs==22.1.0
backports.entry-points-selectable==1.1.0
base58==2.1.1
blinker==1.5
blis==0.7.7
CacheControl==0.12.6
cachetools==5.2.0
cachy==0.3.0
catalogue==2.0.7
certifi==2021.5.30
charset-normalizer==2.0.4
cleo==0.8.1
click==7.1.2
clikit==0.6.2
colorama==0.4.5
commonmark==0.9.1
contourpy==1.0.5
crashtest==0.3.1
cycler==0.11.0
cymem==2.0.6
decorator==5.1.1
distlib==0.3.2
Django==4.0.4
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
Faker==15.1.3
filelock==3.0.12
fonttools==4.38.0
frozenlist==1.3.3
gatorgrade==0.4.0
gatorgrader==1.1.1
gitdb==4.0.9
GitPython==3.1.27
html5lib==1.1
idna==3.2
importlib-metadata==5.0.0
Jinja2==3.1.1
joblib==1.2.0
jsonschema==4.16.0
keyring==21.8.0
kiwisolver==1.4.4
langcodes==3.3.0
lockfile==0.12.2
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.4.3
mdurl==0.1.2
msgpack==1.0.2
multidict==6.0.4
murmurhash==1.0.6
node==1.2
num2words==0.5.10
numpy==1.21.2
odict==1.9.0
openai==0.27.2
opencv-python==4.7.0.72
openpyxl==3.0.10
packaging==21.3
pandas==1.3.3
pandas-stubs==1.5.3.230304
pastel==0.2.1
pathy==0.6.1
patsy==0.5.3
pexpect==4.8.0
Pillow==8.4.0
pipenv==2021.5.29
pkginfo==1.7.1
platformdirs==2.2.0
plotly==5.3.1
plotly-express==0.4.1
pluginbase==1.0.1
plumber==1.7
poetry==1.1.8
poetry-core==1.0.4
preshed==3.0.6
protobuf==3.20.3
ptyprocess==0.7.0
pyarrow==9.0.0
pydantic==1.8.2
pydeck==0.8.0b3
Pygments==2.13.0
pylev==1.4.0
pymongo==4.1.1
Pympler==1.0.1
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
reportlab==3.6.12
requests==2.28.2
requests-toolbelt==0.9.1
rich==13.3.3
schedule==1.1.0
scikit-learn==0.24.2
scipy==1.7.1
semver==2.13.0
shellingham==1.4.0
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.2
srsly==2.4.2
statsmodels==0.13.2
streamlit==0.87.0
tenacity==8.1.0
thinc==8.0.15
threadpoolctl==3.1.0
tk==0.1.0
toml==0.10.2
tomlkit==0.7.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.0
typer==0.6.1
types-pytz==2022.7.1.2
typing_extensions==4.1.1
tzdata==2022.4
tzlocal==4.2
urllib3==1.26.6
validators==0.20.0
virtualenv==20.7.2
virtualenv-clone==0.5.6
wasabi==0.9.1
webencodings==0.5.1
yarl==1.8.2
zipp==3.8.1
zope.component==5.1.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.6
zope.hookable==5.4
zope.interface==5.5.2
zope.lifecycleevent==4.4
zope.proxy==5.0.0
